# Veritabanı Bağlantı Bilgileri
# Bu dosyayı .env olarak kopyalayın ve kendi bilgilerinizle güncelleyin

# Kaynak Veritabanı (Local)
SOURCE_DB_URL=postgresql://username:password@localhost:5432/local_database
postgresql://postgres:Qf82-tX.]2Ts3.yxk|*1j{}s@postgres-ha.postgres.clusterdev:5432/play_zone

# Hedef Veritabanı (Cloud)
TARGET_DB_URL=postgresql://username:password@cloud-host.com:5432/cloud_database
postgresql://postgres:s3cr%40t@192.168.1.8:5432/play_zone

# Varsayılan Şema
DEFAULT_SCHEMA=public 